name: Check diff

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * 6'

jobs:
  run-scrap:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.head_ref }}

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Check
        run: pnpm check:all

      - name: Scrap
        run: pnpm scrap

      - name: Check for changes
        id: git_diff
        run: git diff --exit-code || echo "::set-output name=changed::true"

      - name: Generate commit message
        if: ${{ steps.git_diff.outputs.changed == 'true' }}
        id: generate_commit_message
        run: |
          MODIFIED_FILES=$(git diff --name-only | grep '^snapshots')
          FILE_COUNT=$(echo "$MODIFIED_FILES" | wc -l)

          if [ "$FILE_COUNT" -eq 1 ]; then
            FILENAME=$(basename "$MODIFIED_FILES" .html)
            API_PATH=$(echo "$FILENAME" | sed 's/\./\//g')
            COMMIT_MESSAGE="chore(scrap): update ${API_PATH} snapshot"
          else
            COMMIT_MESSAGE="chore(scrap): update ${FILE_COUNT} snapshots"
          fi

          DESCRIPTION=""
          while IFS= read -r FILE; do
            FILENAME=$(basename "$FILE" .html)
            API_PATH=$(echo "$FILENAME" | sed 's/\./\//g')
            DESCRIPTION="${DESCRIPTION}https://developer.chrome.com/docs/extensions/reference/api/${API_PATH}  "
          done <<< "$MODIFIED_FILES"


          echo "commit_message=$COMMIT_MESSAGE" >> $GITHUB_ENV
          echo "commit_description=$DESCRIPTION" >> $GITHUB_ENV

      - name: Commit changes
        if: ${{ steps.git_diff.outputs.changed == 'true' }}
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: |
            ${{ env.commit_message }}

            ${{ env.commit_description }}
